<template>
  <div id="wrapper">
    <div id="menu">
      <div class="logo">
        <img src="../../assets/logo.png" />
      </div>
      <a-menu
        :selectedKeys="[$route.path]"
        mode="inline"
        theme="dark"
        :inline-collapsed="true"
        class="a-menu"
      >
        <a-menu-item :key="'/home'" @click="$router.push('/home')">
          <template #icon>
            <TeamOutlined />
          </template>
          <template #title>
            <span>员工</span>
          </template>
        </a-menu-item>
        <a-menu-item
          :key="'/home/research'"
          @click="$router.push('/home/research')"
        >
          <template #icon>
            <PieChartOutlined />
          </template>
          <template #title>
            <span>科研</span>
          </template>
        </a-menu-item>
        <a-menu-item :key="'/home/teach'" @click="$router.push('/home/teach')">
          <template #icon>
            <DesktopOutlined />
          </template>
          <template #title>
            <span>教学</span>
          </template>
        </a-menu-item>
      </a-menu>
      <a-popover
        placement="rightBottom"
        trigger="click"
        v-model="visible"
        style="left: 50px; top: 805px"
      >
        <template #content>
          <div class="user-item" @click="logout">
            <LogoutOutlined class="user-item-logo" />
            <div class="user-item-title">退出</div>
          </div>
        </template>
        <div class="user">
          <a-avatar
            size="large"
            :style="{ backgroundColor: '#b9cdef', verticalAlign: 'middle' }"
          >
            {{ username }}
          </a-avatar>
        </div>
      </a-popover>
    </div>
    <div id="content">
      <router-view />
    </div>
  </div>
</template>

<script>
import {
  TeamOutlined,
  PieChartOutlined,
  DesktopOutlined,
  LogoutOutlined,
} from '@ant-design/icons-vue'
import { clearLogInfo, getLogInfo } from '@/utils/cookie'
export default {
  name: 'Index',
  data() {
    return {
      visible: false,
    }
  },
  methods: {
    logout() {
      clearLogInfo()
      this.$store.commit('setLogInfo', {})
      this.$router.push('/log')
    },
  },
  components: {
    TeamOutlined,
    PieChartOutlined,
    DesktopOutlined,
    LogoutOutlined,
  },
  computed: {
    username() {
      let name = getLogInfo()['user']
      if (name.length <= 3) return name
      else return 'ME'
    },
  },
}
</script>

<style scoped lang="scss">
#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  #menu {
    height: 100%;
    background-color: #2a68c9;
    width: 60px;
    display: flex;
    flex-direction: column;
  }
  #content {
    flex: 1;
    background-color: #f3f4f6;
    overflow: hidden;
  }
}
.logo {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  background-color: #2a68c9;
  text-align: center;
  line-height: 60px;
  img {
    width: 22px;
  }
}
.a-menu {
  width: 60px;
  background-color: #2a68c9;
  flex: 1;
}
.user {
  margin-top: 9px;
  margin-bottom: 32px;
  height: 40px;
  width: 60px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.user-item {
  display: flex;
  flex-direction: row;
  width: 100px;
  align-items: center;
  cursor: pointer;
  .user-item-title {
    margin-left: 10px;
  }
  &:hover {
    color: #3582fb;
  }
}
</style>

<style lang="scss">
.ant-table-tbody > tr > td:last-child {
  box-shadow: -6px 4px 18px -7px rgb(0 0 0 / 15%);
}
.ant-table-tbody > tr:nth-child(even) {
  background-color: #f8f8f8;
}
.ant-table-tbody > tr:nth-child(odd) {
  background-color: #ffffff;
}
.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background-color: #efefef !important;
}
.ant-table-pagination {
  margin-right: 10px !important;
}
.editable-cell-text-wrapper {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ant-checkbox-wrapper {
  margin-right: 50px;
}
.ant-table-body {
  overflow: auto !important;
}
</style>
