<template>
  <div id="teachers">
    <div id="head">
      <div class="title">
        <div class="title-left">科</div>
        <div class="title-right">科研信息</div>
      </div>
      <div style="flex: 1"></div>
      <a-input-search
        class="head-search"
        placeholder="按课题查询"
        style="width: 200px"
        @search="onSearch"
        v-model:value="searchName"
      />
    </div>
    <div class="tools">
      <a-button
        type="primary"
        @click="modalVisible = true"
        class="tools-left-item"
      >
        <PlusOutlined />
        添加信息
      </a-button>
      <a-button
        type="primary"
        :disabled="selectedKeyNum === 0"
        @click="deleteDataItems"
        class="tools-left-item"
      >
        <DeleteOutlined />
        删除信息
      </a-button>
      <div class="tools-right">
        <div
          class="tools-right-item"
          @mouseleave="syncHover = false"
          @mouseenter="syncHover = true"
          @click="reloadData"
        >
          <SyncOutlined class="filter" :spin="syncHover" />
          刷新
        </div>
        <div class="separator"></div>
        <div class="tools-right-item">
          共<span style="color: #000000; padding: 0 3px">{{
            this.data.length
          }}</span
          >个信息
        </div>
      </div>
    </div>
    <div class="content">
      <div class="category_div">
        <div class="category_title"><FilterOutlined /> 过滤</div>
        <div class="filter-content">
          <a-form class="toolbar" ref="loginForm" :model="filterForm">
            <div class="search-title">编号</div>
            <a-form-item name="id">
              <a-input
                placeholder="科研信息编号"
                v-model:value="filterForm.id"
                @blur="
                  () => {
                    if (this.filterForm.id !== '') {
                      this.filterForm.id = parseInt(
                        this.filterForm.id
                      ).toString()
                    }
                  }
                "
              ></a-input>
            </a-form-item>
            <div class="search-title">课题</div>
            <a-form-item name="name">
              <a-input
                placeholder="课题"
                v-model:value="filterForm.name"
              ></a-input>
            </a-form-item>
            <div class="search-title">教师编号</div>
            <a-form-item name="teacherId">
              <a-input
                placeholder="教师编号"
                v-model:value="filterForm.teacherId"
                @blur="
                  () => {
                    if (this.filterForm.teacherId !== '') {
                      this.filterForm.teacherId = parseInt(
                        this.filterForm.teacherId
                      ).toString()
                    }
                  }
                "
              ></a-input>
            </a-form-item>
            <div class="search-title">研究方向</div>
            <a-form-item name="direction">
              <a-input
                placeholder="研究方向"
                v-model:value="filterForm.direction"
              ></a-input>
            </a-form-item>
            <div class="search-title">课程研究情况</div>
            <a-form-item name="status">
              <a-select
                placeholder="请选择健康状态"
                v-model:value="filterForm.status"
              >
                <a-select-option value="0">未开始</a-select-option>
                <a-select-option value="1">已开始</a-select-option>
                <a-select-option value="2">已结束</a-select-option>
              </a-select>
            </a-form-item>
            <div class="search-title">专利</div>
            <a-form-item name="patent">
              <a-input
                placeholder="专利"
                v-model:value="filterForm.patent"
              ></a-input>
            </a-form-item>
            <div class="search-title">论文发表</div>
            <a-form-item name="paper">
              <a-input
                placeholder="论文发表"
                v-model:value="filterForm.paper"
              ></a-input>
            </a-form-item>
          </a-form>
        </div>
        <div class="filter-submit">
          <a-config-provider :auto-insert-space-in-button="false">
            <a-button
              style="width: 74px"
              type="primary"
              @click="clickFilterButton"
              class="tools-left-item"
            >
              过滤
            </a-button>
          </a-config-provider>
        </div>
      </div>
      <a-dropdown :trigger="['contextmenu']" @visibleChange="visibleChange">
        <div class="info" ref="info">
          <a-table
            :columns="columns"
            :data-source="data"
            row-key="id"
            scopedSlots="setting"
            :pagination="{ pageSize: 20 }"
            :scroll="{ y: clientHeight, x: clientWidth }"
            @change="handleChange"
            :row-selection="rowSelection"
            :customRow="rowClick"
            class="rowStyle"
          >
            <template #customRender="{ text, column }">
              <span v-if="searchText && searchedColumn === column.dataIndex">
                <template
                  v-for="(fragment, i) in text
                    .toString()
                    .split(
                      new RegExp(`(?<=${searchText})|(?=${searchText})`, 'i')
                    )"
                >
                  <mark
                    v-if="fragment.toLowerCase() === searchText.toLowerCase()"
                    class="highlight"
                    :key="i"
                  >
                    {{ fragment }}
                  </mark>
                  <template v-else>{{ fragment }}</template>
                </template>
              </span>
              <template v-else>
                {{ text }}
              </template>
            </template>
            <template #operation="record">
              <div class="operation-wrapper">
                <DeleteOutlined
                  class="operation-item"
                  @click="deleteDataItem(record.record.id)"
                />
                <MoreOutlined
                  @click="showDrawer(record.record)"
                  class="operation-item"
                />
              </div>
            </template>
            <template #status="{ text }">
              <span class="before research-status" v-if="text === 0"
                >未开始</span
              >
              <span class="doing research-status" v-else-if="text === 1"
                >已开始</span
              >
              <span class="done research-status" v-else>已结束</span>
            </template>
          </a-table>
        </div>
        <template #overlay>
          <a-menu style="width: 150px">
            <a-menu-item key="1" @click="modalVisible = true">
              添加信息
            </a-menu-item>
            <a-menu-item
              :disabled="!clickTable"
              key="2"
              @click="deleteDataItem(recordRow.id)"
            >
              删除员工
            </a-menu-item>
            <a-menu-item
              :disabled="!clickTable"
              key="3"
              @click="showDrawer(recordRow)"
            >
              详情
            </a-menu-item>
            <a-menu-item key="5" @click="reloadData"> 刷新 </a-menu-item>
          </a-menu>
        </template>
      </a-dropdown>
    </div>
    <a-modal
      width="1000px"
      style="height: 724px"
      :visible="modalVisible"
      title="添加科研信息"
      centered
      @ok="add"
      @cancel="
        () => {
          modalVisible = false
          clearFormData()
        }
      "
      :maskClosable="false"
      ok-text="确认"
      cancel-text="取消"
    >
      <a-form
        class="toolbar"
        :label-col="{ span: 3 }"
        :wrapper-col="{ span: 21 }"
        ref="infoForm"
        :model="form"
        :rules="rules"
      >
        <a-form-item name="name" label="课题" required>
          <a-input placeholder="请填写课题" v-model:value="form.name"></a-input>
        </a-form-item>
        <a-form-item name="teacherId" label="教师编号" required>
          <a-input
            placeholder="请填写教师编号"
            v-model:value="form.teacherId"
            @blur="dealTeacherNumber"
          ></a-input>
        </a-form-item>
        <a-form-item name="direction" label="研究方向" required>
          <a-input
            placeholder="请填写研究方向"
            v-model:value="form.direction"
          ></a-input>
        </a-form-item>
        <a-form-item name="status" label="课程研究情况" required>
          <a-select placeholder="请选择健康状态" v-model:value="form.status">
            <a-select-option value="0">未开始</a-select-option>
            <a-select-option value="1">已开始</a-select-option>
            <a-select-option value="2">已结束</a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item name="patent" label="专利" required>
          <a-input
            placeholder="请填写专利"
            v-model:value="form.patent"
          ></a-input>
        </a-form-item>
        <a-form-item name="paper" label="论文发表情况" required>
          <a-input
            placeholder="请填写论文发表情况"
            v-model:value="form.paper"
          ></a-input>
        </a-form-item>
      </a-form>
    </a-modal>
    <a-drawer
      :title="`${drawerInfo.name}的科研信息`"
      placement="right"
      :closable="false"
      :visible="drawerVisible"
      :after-visible-change="afterVisibleChange"
      @close="onClose"
      width="500px"
    >
      <a-descriptions bordered :column="1">
        <a-descriptions-item label="编号">
          {{ drawerInfo.id }}
        </a-descriptions-item>
        <a-descriptions-item label="课题">
          {{ drawerInfo.name }}
        </a-descriptions-item>
        <a-descriptions-item label="教师编号">
          {{ drawerInfo.teacherId }}
        </a-descriptions-item>
        <a-descriptions-item label="研究方向">
          {{ drawerInfo.direction }}
        </a-descriptions-item>
        <a-descriptions-item label="课程研究情况">
          {{ statusTrans }}
        </a-descriptions-item>
        <a-descriptions-item label="专利">
          {{ drawerInfo.patent }}
        </a-descriptions-item>
        <a-descriptions-item label="论文及著作发表情况">
          {{ drawerInfo.paper }}
        </a-descriptions-item>
      </a-descriptions>
    </a-drawer>
  </div>
</template>

<script>
import '../../style/main.scss'
import {
  PlusOutlined,
  SyncOutlined,
  DeleteOutlined,
  MoreOutlined,
  FilterOutlined,
} from '@ant-design/icons-vue'
import {
  ADDRESEARCH,
  DELETERESEARCH,
  GETALLRESEARCH,
} from '@/config/returnCode/research'
import {
  addResearch,
  deleteResearch,
  getAllResearch,
} from '@/services/research'
import { columns } from '@/config/tableColumns/research'
import { rules } from '@/config/modelRules/research'
import { researchTableDate } from '@/config/tableDate/research'
import _ from 'lodash'
export default {
  name: 'Research',
  data() {
    return {
      syncHover: false,
      clickTable: false,
      current: ['1'],
      data: [],
      cacheData: null,
      editingKey: '',
      clientHeight: 0,
      clientWidth: 0,
      searchText: '',
      searchedColumn: '',
      currentNum: 0,
      recordRow: [],
      modalVisible: false,
      form: _.cloneDeep(researchTableDate),
      drawerVisible: false,
      drawerInfo: _.cloneDeep(researchTableDate),
      filterForm: _.cloneDeep(researchTableDate),
      plainOptions: ['男', '女'],
      checkedList: [],
      indeterminate: false,
      checkAll: false,
      editable: true,
      rules: rules,
      dataAll: [],
      selectedKeyNum: 0,
      searchName: '',
    }
  },
  components: {
    PlusOutlined,
    SyncOutlined,
    DeleteOutlined,
    MoreOutlined,
    FilterOutlined,
  },
  mounted() {
    this.reloadData()
    this.clientHeight = this.$refs.info.clientHeight - 112
    this.clientWidth = this.$refs.info.clientWidth
    this.cacheData = this.data.map(item => ({ ...item }))
    let that = this
    document.querySelector('.info').onmousedown = function (e) {
      e.stopImmediatePropagation()
      if (e.button === 2) {
        that.clickTable = false
      }
    }
  },
  methods: {
    reloadData() {
      let that = this
      getAllResearch()
        .then(function (data) {
          switch (data.code) {
            case GETALLRESEARCH.success.code:
              that.data = data.data.staff || []
              that.dataAll = data.data.staff || []
              break
            default:
              that.$message.error(data.msg)
              break
          }
        })
        .catch(function () {
          that.$message.error('网络或出现未知错误')
        })
    },
    rowClick(record) {
      return {
        onContextmenu: e => {
          this.clickTable = true
          e.preventDefault()
          this.recordRow = record
        },
      }
    },
    visibleChange(v) {
      if (!v) this.clickTable = false
    },
    handleChange(value, key, column, { currentDataSource }) {
      this.currentNum = currentDataSource.length
      const newData = [...this.data]
      const target = newData.filter(item => key === item.id)[0]
      if (target) {
        console.log(column, value)
        target[column] = value
        this.data = newData
      }
    },
    afterVisibleChange(val) {
      console.log('visible', val)
    },
    showDrawer(data) {
      console.log(data)
      this.drawerVisible = true
      this.drawerInfo = data
    },
    onClose() {
      this.drawerVisible = false
    },
    onCheckAllChange(e) {
      Object.assign(this, {
        checkedList: e.target.checked ? this.plainOptions : [],
        indeterminate: false,
        checkAll: e.target.checked,
      })
    },
    onSexListChange(checkedList) {
      this.indeterminate =
        !!checkedList.length && checkedList.length < this.plainOptions.length
      this.checkAll = checkedList.length === this.plainOptions.length
    },
    clearFormData() {
      this.form = _.cloneDeep(researchTableDate)
    },
    add() {
      this.modalVisible = true
      let that = this
      this.$refs.infoForm.validate().then(function (data) {
        console.log(data)
        addResearch(
          data.name,
          data.teacherId,
          data.direction,
          data.status,
          data.patent,
          data.paper
        )
          .then(function (data) {
            switch (data.code) {
              case ADDRESEARCH.success.code:
                that.$message.success('添加科研信息成功')
                that.reloadData()
                that.modalVisible = false
                that.clearFormData()
                break
              default:
                that.$message.error(data.msg)
                break
            }
          })
          .catch(function () {
            that.$message.error('网络或出现未知错误')
          })
      })
    },
    deleteDataItem(ID) {
      let that = this
      deleteResearch(ID)
        .then(function (data) {
          switch (data.code) {
            case DELETERESEARCH.success.code:
              that.data = that.data.filter(item => item.id !== ID)
              that.$message.success('删除科研信息成功')
              break
            default:
              that.$message.error(data.msg)
              break
          }
        })
        .catch(function () {
          that.$message.error('网络或出现未知错误')
        })
      return status
    },
    deleteDataItems() {
      let selectedRowKeysCache = this.selectedRowKeys
      let before = selectedRowKeysCache.length
      for (let i = 0; i < before; i++) {
        this.deleteDataItem(selectedRowKeysCache[i])
      }
    },
    onSearch() {
      this.searchText = this.searchName
      this.searchedColumn = 'name'
      if (this.searchName && this.searchName !== '') {
        this.data = this.dataAll.filter(
          item => item.name.indexOf(this.searchName) !== -1
        )
      } else {
        this.data = this.dataAll
      }
    },
    clickFilterButton() {
      this.data = this.dataAll
      this.searchText = ''
      this.searchedColumn = ''
      this.filterByID()
      this.filterByName()
      this.filterByTeacher()
      this.filterByDirection()
      this.filterByCondition()
      this.filterByPatent()
      this.filterByPaper()
    },
    dealTeacherNumber() {
      if (this.form.teacherId !== '') {
        this.form.teacherId = parseInt(this.form.teacherId).toString()
      }
    },
    filterByID() {
      if (this.filterForm.id && this.filterForm.id !== '') {
        this.data = this.data.filter(
          item => item.id.toString() === this.filterForm.id.toString()
        )
      }
    },
    filterByName() {
      if (this.filterForm.name && this.filterForm.name !== '') {
        this.searchText = this.filterForm.name
        this.searchedColumn = 'name'
        this.data = this.data.filter(
          item => item.name.indexOf(this.filterForm.name) !== -1
        )
      }
    },
    filterByTeacher() {
      if (this.filterForm.teacherId && this.filterForm.teacherId !== '') {
        this.data = this.data.filter(
          item =>
            item.teacherId.toString() === this.filterForm.teacherId.toString()
        )
      }
    },
    filterByDirection() {
      if (this.filterForm.direction && this.filterForm.direction !== '') {
        this.searchText = this.filterForm.direction
        this.searchedColumn = 'direction'
        this.data = this.data.filter(
          item => item.direction.indexOf(this.filterForm.direction) !== -1
        )
      }
    },
    filterByCondition() {
      if (this.filterForm.status && this.filterForm.status !== '') {
        this.data = this.data.filter(
          item => item.status.toString() === this.filterForm.status
        )
      }
    },
    filterByPatent() {
      if (this.filterForm.patent && this.filterForm.patent !== '') {
        this.searchText = this.filterForm.patent
        this.searchedColumn = 'patent'
        this.data = this.data.filter(
          item => item.patent.indexOf(this.filterForm.patent) !== -1
        )
      }
    },
    filterByPaper() {
      if (this.filterForm.paper && this.filterForm.paper !== '') {
        this.searchText = this.filterForm.paper
        this.searchedColumn = 'paper'
        this.data = this.data.filter(
          item => item.paper.indexOf(this.filterForm.paper) !== -1
        )
      }
    },
  },
  computed: {
    columns() {
      return columns
    },
    rowSelection() {
      return {
        onChange: (selectedRowKeys, selectedRows) => {
          console.log(selectedRows)
          this.selectedRowKeys = selectedRowKeys
          this.selectedKeyNum = selectedRowKeys.length
        },
        onSelect: (record, selected, selectedRows) => {
          console.log(record, selected, selectedRows)
        },
        onSelectAll: (selected, selectedRows, changeRows) => {
          console.log(selected, selectedRows, changeRows)
        },
      }
    },
    statusTrans() {
      if (this.drawerInfo.status === 0) return '未开始'
      else if (this.drawerInfo.status === 1) return '已开始'
      else return '已结束'
    },
  },
}
</script>
