<template>
  <div id="teachers">
    <div id="head">
      <div class="title">
        <div class="title-left">教</div>
        <div class="title-right">教学信息</div>
      </div>
      <div style="flex: 1"></div>
      <a-input-search
        class="head-search"
        placeholder="按课程名查询"
        style="width: 200px"
        @search="onSearch"
        v-model:value="searchName"
      />
    </div>
    <div class="tools">
      <a-button
        type="primary"
        @click="modalVisible = true"
        class="tools-left-item"
      >
        <PlusOutlined />
        添加信息
      </a-button>
      <a-button
        type="primary"
        :disabled="selectedKeyNum === 0"
        @click="deleteDataItems"
        class="tools-left-item"
      >
        <DeleteOutlined />
        删除信息
      </a-button>
      <div class="tools-right">
        <div
          class="tools-right-item"
          @mouseleave="syncHover = false"
          @mouseenter="syncHover = true"
          @click="reloadData"
        >
          <SyncOutlined class="filter" :spin="syncHover" />
          刷新
        </div>
        <div class="separator"></div>
        <div class="tools-right-item">
          共<span style="color: #000000; padding: 0 3px">{{
            this.data.length
          }}</span
          >个信息
        </div>
      </div>
    </div>
    <div class="content">
      <div class="category_div">
        <div class="category_title"><FilterOutlined /> 过滤</div>
        <div class="filter-content">
          <a-form class="toolbar" ref="loginForm" :model="filterForm">
            <div class="search-title">编号</div>
            <a-form-item name="id">
              <a-input
                placeholder="教学信息编号"
                v-model:value="filterForm.id"
                @blur="
                  () => {
                    if (this.filterForm.id !== '') {
                      this.filterForm.id = parseInt(
                        this.filterForm.id
                      ).toString()
                    }
                  }
                "
              ></a-input>
            </a-form-item>
            <div class="search-title">课程名</div>
            <a-form-item name="name">
              <a-input
                placeholder="课程名"
                v-model:value="filterForm.name"
              ></a-input>
            </a-form-item>
            <div class="search-title">教师编号</div>
            <a-form-item name="teacherId">
              <a-input
                placeholder="教师编号"
                v-model:value="filterForm.teacherId"
                @blur="
                  () => {
                    if (this.filterForm.teacherId !== '') {
                      this.filterForm.teacherId = parseInt(
                        this.filterForm.teacherId
                      ).toString()
                    }
                  }
                "
              ></a-input>
            </a-form-item>
            <div class="search-title">课程时数</div>
            <a-form-item name="time">
              <a-input-number
                style="width: 100%"
                placeholder="课程时数"
                v-model:value="filterForm.time"
                :min="1"
              ></a-input-number>
            </a-form-item>
            <div class="search-title">学分数</div>
            <a-form-item name="grade">
              <a-input-number
                style="width: 100%"
                placeholder="学分数"
                v-model:value="filterForm.grade"
                :step="0.5"
                :min="0.5"
              ></a-input-number>
            </a-form-item>
            <div class="search-title">课程性质</div>
            <a-form-item name="classProperty">
              <a-select
                placeholder="课程性质"
                v-model:value="filterForm.classProperty"
              >
                <a-select-option value="公选">公选</a-select-option>
                <a-select-option value="专业必修">专业必修</a-select-option>
                <a-select-option value="专业选修">专业选修</a-select-option>
              </a-select>
            </a-form-item>
          </a-form>
        </div>
        <div class="filter-submit">
          <a-config-provider :auto-insert-space-in-button="false">
            <a-button
              style="width: 74px"
              type="primary"
              @click="clickFilterButton"
              class="tools-left-item"
            >
              过滤
            </a-button>
          </a-config-provider>
        </div>
      </div>
      <a-dropdown :trigger="['contextmenu']" @visibleChange="visibleChange">
        <div class="info" ref="info">
          <a-table
            :columns="columns"
            :data-source="data"
            row-key="id"
            scopedSlots="setting"
            :pagination="{ pageSize: 20 }"
            :scroll="{ y: clientHeight, x: clientWidth }"
            @change="handleChange"
            :row-selection="rowSelection"
            :customRow="rowClick"
            class="rowStyle"
          >
            <template #customRender="{ text, column }">
              <span v-if="searchText && searchedColumn === column.dataIndex">
                <template
                  v-for="(fragment, i) in text
                    .toString()
                    .split(
                      new RegExp(`(?<=${searchText})|(?=${searchText})`, 'i')
                    )"
                >
                  <mark
                    v-if="fragment.toLowerCase() === searchText.toLowerCase()"
                    class="highlight"
                    :key="i"
                  >
                    {{ fragment }}
                  </mark>
                  <template v-else>{{ fragment }}</template>
                </template>
              </span>
              <template v-else>
                {{ text }}
              </template>
            </template>
            <template #operation="record">
              <div class="operation-wrapper">
                <DeleteOutlined
                  class="operation-item"
                  @click="deleteDataItem(record.record.id)"
                />
                <MoreOutlined
                  @click="showDrawer(record.record)"
                  class="operation-item"
                />
              </div>
            </template>
          </a-table>
        </div>
        <template #overlay>
          <a-menu style="width: 150px">
            <a-menu-item key="1" @click="modalVisible = true">
              添加信息
            </a-menu-item>
            <a-menu-item
              :disabled="!clickTable"
              key="2"
              @click="deleteDataItem(recordRow.id)"
            >
              删除信息
            </a-menu-item>
            <a-menu-item
              :disabled="!clickTable"
              key="3"
              @click="showDrawer(recordRow)"
            >
              详情
            </a-menu-item>
            <a-menu-item key="5" @click="reloadData"> 刷新 </a-menu-item>
          </a-menu>
        </template>
      </a-dropdown>
    </div>
    <a-modal
      width="1000px"
      style="height: 724px"
      :visible="modalVisible"
      title="添加教学信息"
      centered
      @ok="add"
      @cancel="
        () => {
          modalVisible = false
          clearFormData()
        }
      "
      :maskClosable="false"
      ok-text="确认"
      cancel-text="取消"
    >
      <a-form
        class="toolbar"
        :label-col="{ span: 3 }"
        :wrapper-col="{ span: 21 }"
        ref="infoForm"
        :model="form"
        :rules="rules"
      >
        <a-form-item name="name" label="课程名称" required>
          <a-input
            placeholder="请填写课程名称"
            v-model:value="form.name"
          ></a-input>
        </a-form-item>
        <a-form-item name="teacherId" label="任课教师编号" required>
          <a-input
            placeholder="请填写任课教师编号"
            v-model:value="form.teacherId"
            @blur="
              () => {
                if (this.form.teacherId !== '') {
                  this.form.teacherId = parseInt(this.form.teacherId).toString()
                }
              }
            "
          ></a-input>
        </a-form-item>
        <a-form-item name="time" label="课程时数" required>
          <a-input-number
            style="width: 100%"
            placeholder="请填写课程时数"
            v-model:value="form.time"
            :min="1"
          />
        </a-form-item>
        <a-form-item name="grade" label="学分" required>
          <a-input-number
            style="width: 100%"
            placeholder="请填写学分"
            v-model:value="form.grade"
            :step="0.5"
            :min="0.5"
          />
        </a-form-item>
        <a-form-item name="classProperty" label="课程性质" required>
          <a-select
            placeholder="请填写课程性质"
            v-model:value="form.classProperty"
          >
            <a-select-option value="公选">公选</a-select-option>
            <a-select-option value="专业必修">专业必修</a-select-option>
            <a-select-option value="专业选修">专业选修</a-select-option>
          </a-select>
        </a-form-item>
      </a-form>
    </a-modal>
    <a-drawer
      :title="`${drawerInfo.name}的教学信息`"
      placement="right"
      :closable="false"
      :visible="drawerVisible"
      :after-visible-change="afterVisibleChange"
      @close="onClose"
      width="500px"
    >
      <a-descriptions bordered :column="1">
        <a-descriptions-item label="编号">
          {{ drawerInfo.id }}
        </a-descriptions-item>
        <a-descriptions-item label="课程名称">
          {{ drawerInfo.name }}
        </a-descriptions-item>
        <a-descriptions-item label="任课老师编号">
          {{ drawerInfo.teacherId }}
        </a-descriptions-item>
        <a-descriptions-item label="课程时数">
          {{ drawerInfo.time }}
        </a-descriptions-item>
        <a-descriptions-item label="学分数">
          {{ drawerInfo.grade }}
        </a-descriptions-item>
        <a-descriptions-item label="课程性质">
          {{ drawerInfo.classProperty }}
        </a-descriptions-item>
      </a-descriptions>
    </a-drawer>
  </div>
</template>

<script>
import '../../style/main.scss'
import {
  PlusOutlined,
  SyncOutlined,
  DeleteOutlined,
  MoreOutlined,
  FilterOutlined,
} from '@ant-design/icons-vue'
import {
  addCourseInfo,
  deleteCourseInfo,
  getAllCourseInfo,
} from '@/services/teach'
import {
  ADDCOURSE,
  DELETECOURSE,
  GETALLCOURSE,
} from '@/config/returnCode/teach'
import { columns } from '@/config/tableColumns/teach'
import { rules } from '@/config/modelRules/teach'
import { teachTableDate } from '@/config/tableDate/teach'
import _ from 'lodash'
export default {
  name: 'Teach',
  data() {
    return {
      syncHover: false,
      clickTable: false,
      current: ['1'],
      data: [],
      cacheData: null,
      editingKey: '',
      clientHeight: 0,
      clientWidth: 0,
      searchText: '',
      searchedColumn: '',
      currentNum: 0,
      recordRow: [],
      modalVisible: false,
      form: _.cloneDeep(teachTableDate),
      drawerVisible: false,
      drawerInfo: _.cloneDeep(teachTableDate),
      filterForm: _.cloneDeep(teachTableDate),
      plainOptions: ['男', '女'],
      checkedList: [],
      indeterminate: false,
      checkAll: false,
      editable: true,
      rules: rules,
      dataAll: [],
      selectedKeyNum: 0,
      searchName: '',
    }
  },
  components: {
    PlusOutlined,
    SyncOutlined,
    DeleteOutlined,
    MoreOutlined,
    FilterOutlined,
  },
  mounted() {
    this.reloadData()
    this.clientHeight = this.$refs.info.clientHeight - 112
    this.clientWidth = this.$refs.info.clientWidth
    this.cacheData = this.data.map(item => ({ ...item }))
    let that = this
    document.querySelector('.info').onmousedown = function (e) {
      e.stopImmediatePropagation()
      if (e.button === 2) {
        that.clickTable = false
      }
    }
  },
  methods: {
    reloadData() {
      let that = this
      getAllCourseInfo()
        .then(function (data) {
          switch (data.code) {
            case GETALLCOURSE.success.code:
              that.data = data.data.staff || []
              that.dataAll = data.data.staff || []
              break
            default:
              that.$message.error(data.msg)
              break
          }
        })
        .catch(function () {
          that.$message.error('网络或出现未知错误')
        })
    },
    rowClick(record) {
      return {
        onContextmenu: e => {
          this.clickTable = true
          e.preventDefault()
          this.recordRow = record
        },
      }
    },
    visibleChange(v) {
      if (!v) this.clickTable = false
    },
    handleChange(value, key, column, { currentDataSource }) {
      this.currentNum = currentDataSource.length
      const newData = [...this.data]
      const target = newData.filter(item => key === item.id)[0]
      if (target) {
        console.log(column, value)
        target[column] = value
        this.data = newData
      }
    },
    afterVisibleChange(val) {
      console.log('visible', val)
    },
    showDrawer(data) {
      console.log(data)
      this.drawerVisible = true
      this.drawerInfo = data
    },
    onClose() {
      this.drawerVisible = false
    },
    onCheckAllChange(e) {
      Object.assign(this, {
        checkedList: e.target.checked ? this.plainOptions : [],
        indeterminate: false,
        checkAll: e.target.checked,
      })
    },
    onSexListChange(checkedList) {
      this.indeterminate =
        !!checkedList.length && checkedList.length < this.plainOptions.length
      this.checkAll = checkedList.length === this.plainOptions.length
    },
    clearFormData() {
      this.form = _.cloneDeep(teachTableDate)
    },
    add() {
      this.modalVisible = true
      let that = this
      this.$refs.infoForm.validate().then(function (data) {
        console.log(data)
        addCourseInfo(
          data.name,
          data.teacherId,
          data.time,
          data.grade,
          data.classProperty
        )
          .then(function (data) {
            console.log(data)
            switch (data.code) {
              case ADDCOURSE.success.code:
                that.$message.success('添加课程信息成功')
                that.reloadData()
                that.modalVisible = false
                that.clearFormData()
                break
              default:
                that.$message.error(data.msg)
                break
            }
          })
          .catch(function () {
            that.$message.error('网络或出现未知错误')
          })
      })
    },
    deleteDataItem(ID) {
      let that = this
      deleteCourseInfo(ID)
        .then(function (data) {
          switch (data.code) {
            case DELETECOURSE.success.code:
              that.data = that.data.filter(item => item.id !== ID)
              that.$message.success('删除课程信息成功')
              break
            default:
              that.$message.error(data.msg)
              break
          }
        })
        .catch(function () {
          that.$message.error('网络或出现未知错误')
        })
    },
    deleteDataItems() {
      let selectedRowKeysCache = this.selectedRowKeys
      let before = selectedRowKeysCache.length
      for (let i = 0; i < before; i++) {
        this.deleteDataItem(selectedRowKeysCache[i])
      }
    },
    onSearch() {
      this.searchText = this.searchName
      this.searchedColumn = 'name'
      if (this.searchName && this.searchName !== '') {
        this.data = this.dataAll.filter(
          item => item.name.indexOf(this.searchName) !== -1
        )
      } else {
        this.data = this.dataAll
      }
    },
    clickFilterButton() {
      this.data = this.dataAll
      this.searchText = ''
      this.searchedColumn = ''
      this.filterByID()
      this.filterByName()
      this.filterByTeacher()
      this.filterByTime()
      this.filterByGarde()
      this.filterByClassProperty()
    },
    filterByID() {
      if (this.filterForm.id && this.filterForm.id !== '') {
        this.data = this.data.filter(
          item => item.id.toString() === this.filterForm.id.toString()
        )
      }
    },
    filterByName() {
      if (this.filterForm.name && this.filterForm.name !== '') {
        this.searchText = this.filterForm.name
        this.searchedColumn = 'name'
        this.data = this.data.filter(
          item => item.name.indexOf(this.filterForm.name) !== -1
        )
      }
    },
    filterByTeacher() {
      if (this.filterForm.teacherId && this.filterForm.teacherId !== '') {
        this.data = this.data.filter(
          item =>
            item.teacherId.toString() === this.filterForm.teacherId.toString()
        )
      }
    },
    filterByTime() {
      if (this.filterForm.time && this.filterForm.time !== '') {
        this.data = this.data.filter(
          item => item.time.toString() === this.filterForm.time.toString()
        )
      }
    },
    filterByGarde() {
      console.log(this.filterForm, this.data)
      if (this.filterForm.grade && this.filterForm.grade !== '') {
        this.data = this.data.filter(
          item => item.grade.toString() === this.filterForm.grade.toString()
        )
      }
    },
    filterByClassProperty() {
      if (
        this.filterForm.classProperty &&
        this.filterForm.classProperty !== ''
      ) {
        this.searchText = this.filterForm.classProperty
        this.searchedColumn = 'classProperty'
        this.data = this.data.filter(
          item =>
            item.classProperty.indexOf(this.filterForm.classProperty) !== -1
        )
      }
    },
  },
  computed: {
    columns() {
      return columns
    },
    rowSelection() {
      return {
        onChange: (selectedRowKeys, selectedRows) => {
          console.log(selectedRows)
          this.selectedRowKeys = selectedRowKeys
          this.selectedKeyNum = selectedRowKeys.length
        },
        onSelect: (record, selected, selectedRows) => {
          console.log(record, selected, selectedRows)
        },
        onSelectAll: (selected, selectedRows, changeRows) => {
          console.log(selected, selectedRows, changeRows)
        },
      }
    },
  },
}
</script>
