<template>
  <div id="teachers">
    <div id="head">
      <div class="title">
        <div class="title-left">员</div>
        <div class="title-right">员工信息</div>
      </div>
      <div style="flex: 1"></div>
      <a-input-search
        class="head-search"
        placeholder="按姓名查询"
        style="width: 200px"
        @search="onSearch"
        v-model:value="searchName"
      />
    </div>
    <div class="tools">
      <a-button
        ref="button"
        type="primary"
        @click="
          () => {
            clearFormData()
            isAdd = true
            modalVisible = true
          }
        "
        class="tools-left-item"
      >
        <PlusOutlined />
        添加员工
      </a-button>
      <a-button
        type="primary"
        class="tools-left-item"
        :disabled="selectedKeyNum === 0"
        @click="deleteDataItems"
      >
        <DeleteOutlined />
        批量删除
      </a-button>
      <div class="tools-right">
        <div
          class="tools-right-item"
          @mouseleave="syncHover = false"
          @mouseenter="syncHover = true"
          @click="reloadData"
        >
          <SyncOutlined class="filter" :spin="syncHover" />
          刷新
        </div>
        <div class="separator"></div>
        <div class="tools-right-item">
          共<span style="color: #000000; padding: 0 3px">{{
            this.data.length
          }}</span
          >个信息
        </div>
      </div>
    </div>
    <div class="content">
      <div class="category_div">
        <div class="category_title"><FilterOutlined /> 过滤</div>
        <div class="filter-content">
          <a-form class="toolbar" ref="loginForm" :model="filterForm">
            <div class="search-title">编号</div>
            <a-form-item name="id">
              <a-input
                placeholder="员工编号"
                v-model:value="filterForm.id"
                @blur="
                  () => {
                    if (this.filterForm.id !== '') {
                      this.filterForm.id = parseInt(
                        this.filterForm.id
                      ).toString()
                    }
                  }
                "
              ></a-input>
            </a-form-item>
            <div class="search-title">姓名</div>
            <a-form-item name="name">
              <a-input
                placeholder="员工姓名"
                v-model:value="filterForm.name"
              ></a-input>
            </a-form-item>
            <div class="search-title">性别</div>
            <a-form-item>
              <a-checkbox
                :indeterminate="indeterminate"
                :checked="checkAll"
                @change="onCheckAllChange"
              >
                -All-
              </a-checkbox>
              <a-checkbox-group
                v-model:value="checkedList"
                :options="plainOptions"
                @change="onSexListChange"
              />
            </a-form-item>
            <div class="search-title">学历</div>
            <a-form-item name="degree">
              <a-auto-complete
                v-model:value="filterForm.degree"
                required
                @search="degreeSearchHandleFilter"
                placeholder="请选择学历"
              >
                <template #dataSource>
                  <a-select-option
                    v-for="item in degreeDataFilter"
                    :key="item"
                    >{{ item }}</a-select-option
                  >
                </template>
              </a-auto-complete>
            </a-form-item>
            <div class="search-title">部门</div>
            <a-form-item name="department">
              <a-input
                placeholder="员工所属部门"
                v-model:value="filterForm.department"
              ></a-input>
            </a-form-item>
            <div class="search-title">毕业院校</div>
            <a-form-item name="gradualSchool">
              <a-input
                placeholder="员工毕业院校"
                v-model:value="filterForm.gradualSchool"
              ></a-input>
            </a-form-item>
            <div class="search-title">健康状况</div>
            <a-form-item name="healthy">
              <a-select
                placeholder="请选择健康状态"
                v-model:value="filterForm.healthy"
              >
                <a-select-option value="0">健康状态</a-select-option>
                <a-select-option value="1">亚健康状态</a-select-option>
                <a-select-option value="2">不健康状态</a-select-option>
              </a-select>
            </a-form-item>
            <div class="search-title">职称</div>
            <a-form-item name="post">
              <a-input
                placeholder="员工职称"
                v-model:value="filterForm.post"
              ></a-input>
            </a-form-item>
            <div class="search-title">职务</div>
            <a-form-item name="duty">
              <a-input
                placeholder="员工职务"
                v-model:value="filterForm.duty"
              ></a-input>
            </a-form-item>
          </a-form>
        </div>
        <div class="filter-submit">
          <a-config-provider :auto-insert-space-in-button="false">
            <a-button
              style="width: 74px"
              type="primary"
              class="tools-left-item"
              @click="clickFilterButton"
            >
              过滤
            </a-button>
          </a-config-provider>
        </div>
      </div>
      <a-dropdown :trigger="['contextmenu']" @visibleChange="visibleChange">
        <div class="info" ref="info">
          <a-table
            ref="table"
            :columns="columns"
            :data-source="data"
            row-key="id"
            scopedSlots="setting"
            :pagination="{ pageSize: 20 }"
            :scroll="{ y: clientHeight, x: clientWidth }"
            @change="handleChange"
            :row-selection="rowSelection"
            :customRow="rowClick"
            class="rowStyle"
          >
            <template #healthy="{ text }">
              <span class="healthy-tag healthy" v-if="text === 0">健康</span>
              <span class="less-healthy-tag healthy" v-else-if="text === 1"
                >亚健康</span
              >
              <span class="unhealthy-tag healthy" v-else>不健康</span>
            </template>
            <template #operation="record">
              <div class="operation-wrapper">
                <DeleteOutlined
                  class="operation-item"
                  @click="deleteDataItem(record.record.id)"
                />
                <EditOutlined
                  :style="{ color: editingKey === '' ? '#1890ff' : '#d7d7d7' }"
                  @click="
                    () => {
                      isAdd = false
                      modalVisible = true
                      editFormData(record.record)
                    }
                  "
                  class="operation-item"
                />
                <MoreOutlined
                  @click="showDrawer(record.record)"
                  class="operation-item"
                />
              </div>
            </template>
            <template #customRender="{ text, column }">
              <span v-if="searchText && searchedColumn === column.dataIndex">
                <template
                  v-for="(fragment, i) in text
                    .toString()
                    .split(
                      new RegExp(`(?<=${searchText})|(?=${searchText})`, 'i')
                    )"
                >
                  <mark
                    v-if="fragment.toLowerCase() === searchText.toLowerCase()"
                    class="highlight"
                    :key="i"
                  >
                    {{ fragment }}
                  </mark>
                  <template v-else>{{ fragment }}</template>
                </template>
              </span>
              <template v-else>
                {{ text }}
              </template>
            </template>
          </a-table>
        </div>
        <template #overlay>
          <a-menu style="width: 150px">
            <a-menu-item
              key="1"
              @click="
                () => {
                  clearFormData()
                  isAdd = true
                  modalVisible = true
                }
              "
            >
              增加员工
            </a-menu-item>
            <a-menu-item
              :disabled="!clickTable"
              key="2"
              @click="deleteDataItem(recordRow.id)"
            >
              删除员工
            </a-menu-item>
            <a-menu-item
              @click="
                () => {
                  this.form = recordRow
                  isAdd = false
                  modalVisible = true
                }
              "
              :disabled="!clickTable"
              key="3"
            >
              修改信息
            </a-menu-item>
            <a-menu-item
              :disabled="!clickTable"
              key="4"
              @click="showDrawer(recordRow)"
            >
              详情
            </a-menu-item>
            <a-menu-item key="5" @click="reloadData"> 刷新 </a-menu-item>
          </a-menu>
        </template>
      </a-dropdown>
    </div>
    <a-modal
      width="1000px"
      style="height: 724px"
      :visible="modalVisible"
      :title="isAdd ? '添加员工' : '编辑员工'"
      centered
      @ok="modalClickOk"
      @cancel="
        () => {
          modalVisible = false
          clearFormData()
        }
      "
      :maskClosable="false"
      ok-text="确认"
      cancel-text="取消"
    >
      <a-form
        class="toolbar"
        :label-col="{ span: 3 }"
        :wrapper-col="{ span: 21 }"
        ref="stuffInfo"
        :model="form"
        :rules="rules"
      >
        <a-form-item name="name" label="姓名" required>
          <a-input
            placeholder="请填写员工姓名"
            v-model:value="form.name"
          ></a-input>
        </a-form-item>
        <a-form-item name="sex" label="性别" required>
          <a-select placeholder="请选择性别" v-model:value="form.sex">
            <a-select-option value="男">男</a-select-option>
            <a-select-option value="女">女</a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item name="degree" label="学历" required>
          <a-auto-complete
            v-model:value="form.degree"
            required
            @search="degreeSearchHandle"
            placeholder="请选择学历"
          >
            <template #dataSource>
              <a-select-option v-for="item in degreeData" :key="item">{{
                item
              }}</a-select-option>
            </template>
          </a-auto-complete>
        </a-form-item>
        <a-form-item name="department" label="所属部门" required>
          <a-input
            placeholder="请填写所属部门"
            v-model:value="form.department"
          ></a-input>
        </a-form-item>
        <a-form-item name="gradualSchool" label="毕业院校" required>
          <a-input
            placeholder="请填写毕业院校"
            v-model:value="form.gradualSchool"
          ></a-input>
        </a-form-item>
        <a-form-item name="healthy" label="健康状态" required>
          <a-select placeholder="请选择健康状态" v-model:value="form.healthy">
            <a-select-option :value="0">健康状态</a-select-option>
            <a-select-option :value="1">亚健康状态</a-select-option>
            <a-select-option :value="2">不健康状态</a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item name="post" label="职称" required>
          <a-input
            placeholder="请填写员工职称"
            v-model:value="form.post"
          ></a-input>
        </a-form-item>
        <a-form-item name="duty" label="职务" required>
          <a-input
            placeholder="请填写员工职务"
            v-model:value="form.duty"
          ></a-input>
        </a-form-item>
      </a-form>
    </a-modal>
    <a-drawer
      :title="`${drawerInfo.name}的详细信息`"
      placement="right"
      :closable="false"
      :visible="drawerVisible"
      :after-visible-change="afterVisibleChange"
      @close="onClose"
      width="500px"
    >
      <a-descriptions bordered :column="1">
        <a-descriptions-item label="编号">
          {{ drawerInfo.id }}
        </a-descriptions-item>
        <a-descriptions-item label="姓名">
          {{ drawerInfo.name }}
        </a-descriptions-item>
        <a-descriptions-item label="性别">
          {{ drawerInfo.sex }}
        </a-descriptions-item>
        <a-descriptions-item label="学历">
          {{ drawerInfo.degree }}
        </a-descriptions-item>
        <a-descriptions-item label="部门">
          {{ drawerInfo.department }}
        </a-descriptions-item>
        <a-descriptions-item label="毕业院校">
          {{ drawerInfo.gradualSchool }}
        </a-descriptions-item>
        <a-descriptions-item label="健康情况">
          {{ drawerInfoHealthy }}
        </a-descriptions-item>
        <a-descriptions-item label="职称">
          {{ drawerInfo.post }}
        </a-descriptions-item>
        <a-descriptions-item label="职务">
          {{ drawerInfo.duty }}
        </a-descriptions-item>
      </a-descriptions>
    </a-drawer>
  </div>
</template>

<script>
import '../../style/main.scss'
import {
  PlusOutlined,
  SyncOutlined,
  DeleteOutlined,
  EditOutlined,
  MoreOutlined,
  FilterOutlined,
} from '@ant-design/icons-vue'
import _ from 'lodash'
import {
  addStuff,
  deleteStuff,
  searchAllStuff,
  updateStuff,
} from '@/services/stuff'
import {
  ADDSTUFF,
  DELETESTUFF,
  GETALLSTUFF,
  UPDATESTUFF,
} from '@/config/returnCode/stuff'
import { columns } from '@/config/tableColumns/teachers'
import { rules } from '@/config/modelRules/teachers'
import { teachersTableDate } from '@/config/tableDate/teachers'
import { degreeData } from '@/config/data/degree'
export default {
  name: 'Teachers',
  data() {
    return {
      selectedKeyNum: 0,
      isAdd: true,
      syncHover: false,
      clickTable: false,
      current: ['1'],
      data: [],
      cacheData: null,
      editingKey: '',
      clientHeight: 0,
      clientWidth: 0,
      searchText: '',
      searchedColumn: '',
      currentNum: 0,
      recordRow: [],
      modalVisible: false,
      form: _.cloneDeep(teachersTableDate),
      drawerVisible: false,
      drawerInfo: _.cloneDeep(teachersTableDate),
      filterForm: _.cloneDeep(teachersTableDate),
      plainOptions: ['男', '女'],
      checkedList: [],
      indeterminate: false,
      checkAll: false,
      editable: true,
      rules: rules,
      selectedRowKeys: [],
      dataAll: null,
      searchName: '',
      degreeData: _.cloneDeep(degreeData),
      degreeDataCache: _.cloneDeep(degreeData),
      degreeDataFilter: _.cloneDeep(degreeData),
      degreeDataFilterCache: _.cloneDeep(degreeData),
    }
  },
  components: {
    PlusOutlined,
    SyncOutlined,
    DeleteOutlined,
    EditOutlined,
    MoreOutlined,
    FilterOutlined,
  },
  mounted() {
    this.reloadData()
    this.clientHeight = this.$refs.info.clientHeight - 112
    this.clientWidth = this.$refs.info.clientWidth
    this.cacheData = Array.from(_.defaultsDeep(this.cacheData, this.data))
    let that = this
    document.querySelector('.info').onmousedown = function (e) {
      e.stopImmediatePropagation()
      if (e.button === 2) {
        that.clickTable = false
      }
    }
  },
  methods: {
    reloadData() {
      let that = this
      searchAllStuff()
        .then(function (data) {
          switch (data.code) {
            case GETALLSTUFF.success.code:
              that.data = data.data.staff || []
              that.dataAll = data.data.staff || []
              break
            default:
              that.$message.error(data.msg)
              break
          }
        })
        .catch(function () {
          that.$message.error('网络或出现未知错误')
        })
    },
    rowClick(record) {
      return {
        onContextmenu: e => {
          this.clickTable = true
          e.preventDefault()
          this.recordRow = record
        },
      }
    },
    visibleChange(v) {
      console.log('here', v)
      if (!v) {
        this.clickTable = false
      }
    },
    handleChange(pagination, filters, sorter, { currentDataSource }) {
      this.currentNum = currentDataSource.length
    },
    afterVisibleChange(val) {
      console.log('visible', val)
    },
    showDrawer(data) {
      console.log(data)
      this.drawerVisible = true
      this.drawerInfo = data
    },
    onClose() {
      this.drawerVisible = false
    },
    onCheckAllChange(e) {
      Object.assign(this, {
        checkedList: e.target.checked ? this.plainOptions : [],
        indeterminate: false,
        checkAll: e.target.checked,
      })
    },
    onSexListChange(checkedList) {
      this.indeterminate =
        !!checkedList.length && checkedList.length < this.plainOptions.length
      this.checkAll = checkedList.length === this.plainOptions.length
    },
    edit() {
      let that = this
      let target = null
      this.$refs.stuffInfo.validate().then(function (data) {
        updateStuff(
          that.form.id,
          data.name,
          data.sex,
          data.degree,
          data.department,
          data.gradualSchool,
          data.healthy,
          data.post,
          data.duty
        )
          .then(function (data) {
            switch (data.code) {
              case UPDATESTUFF.success.code:
                target = that.data.find(item => item.id === that.form.id)
                if (target) {
                  Object.assign(target, that.form)
                } else {
                  that.reloadData()
                }
                that.$message.success('编辑当前员工成功')
                that.modalVisible = false
                break
              default:
                that.$message.error(data.msg)
                break
            }
          })
          .catch(function () {
            that.$message.error('网络或出现未知错误')
          })
      })
    },
    editFormData(data) {
      this.form = data
    },
    clearFormData() {
      this.form = _.cloneDeep(teachersTableDate)
    },
    add() {
      let that = this
      this.$refs.stuffInfo.validate().then(function (data) {
        addStuff(
          data.name,
          data.sex,
          data.degree,
          data.department,
          data.gradualSchool,
          data.healthy,
          data.post,
          data.duty
        )
          .then(function (data) {
            switch (data.code) {
              case ADDSTUFF.success.code:
                that.$message.success('添加员工成功')
                that.reloadData()
                that.modalVisible = false
                break
              default:
                that.$message.error(data.msg)
                break
            }
          })
          .catch(function () {
            that.$message.error('网络或出现未知错误')
          })
      })
    },
    modalClickOk() {
      if (this.isAdd) {
        this.add()
      } else {
        this.edit()
      }
    },
    deleteDataItem(ID) {
      let that = this
      deleteStuff(ID)
        .then(function (data) {
          console.log(data)
          switch (data.code) {
            case DELETESTUFF.success.code:
              that.data = that.data.filter(item => item.id !== ID)
              that.$message.success('删除员工成功')
              break
            default:
              that.$message.error(data.msg)
              break
          }
        })
        .catch(function () {
          that.$message.error('网络或出现未知错误')
        })
      return status
    },
    deleteDataItems() {
      let selectedRowKeysCache = this.selectedRowKeys
      let before = selectedRowKeysCache.length
      for (let i = 0; i < before; i++) {
        this.deleteDataItem(selectedRowKeysCache[i])
      }
    },
    onSearch() {
      this.searchText = this.searchName
      this.searchedColumn = 'name'
      if (this.searchName && this.searchName !== '') {
        this.data = this.dataAll.filter(
          item => item.name.indexOf(this.searchName) !== -1
        )
      } else {
        this.data = this.dataAll
      }
    },
    clickFilterButton() {
      this.data = this.dataAll
      this.searchText = ''
      this.searchedColumn = ''
      this.filterByID()
      this.filterByName()
      this.filterBySex()
      this.filterByDegree()
      this.filterByDepartment()
      this.filterByGradualSchool()
      this.filterByHealthy()
      this.filterByPost()
      this.filterByDuty()
    },
    filterByID() {
      console.log(this.filterForm, this.data)
      if (this.filterForm.id && this.filterForm.id !== '') {
        this.data = this.data.filter(
          item => item.id.toString() === this.filterForm.id.toString()
        )
      }
    },
    filterByName() {
      if (this.filterForm.name && this.filterForm.name !== '') {
        this.searchText = this.filterForm.name
        this.searchedColumn = 'name'
        this.data = this.data.filter(
          item => item.name.indexOf(this.filterForm.name) !== -1
        )
      }
    },
    filterBySex() {
      let sexBox = this.checkedList
      if (sexBox && sexBox.length !== 0) {
        this.data = this.data.filter(item => sexBox.indexOf(item.sex) !== -1)
      }
    },
    filterByDegree() {
      if (this.filterForm.degree && this.filterForm.degree !== '') {
        this.searchText = this.filterForm.degree
        this.searchedColumn = 'degree'
        this.data = this.data.filter(
          item => item.degree.indexOf(this.filterForm.degree) !== -1
        )
      }
    },
    filterByDepartment() {
      if (this.filterForm.department && this.filterForm.department !== '') {
        this.searchText = this.filterForm.department
        this.searchedColumn = 'department'
        this.data = this.data.filter(
          item => item.department.indexOf(this.filterForm.department) !== -1
        )
      }
    },
    filterByGradualSchool() {
      if (
        this.filterForm.gradualSchool &&
        this.filterForm.gradualSchool !== ''
      ) {
        this.searchText = this.filterForm.gradualSchool
        this.searchedColumn = 'gradualSchool'
        this.data = this.data.filter(
          item =>
            item.gradualSchool.indexOf(this.filterForm.gradualSchool) !== -1
        )
      }
    },
    filterByHealthy() {
      console.log(this.filterForm, this.data)
      if (this.filterForm.healthy && this.filterForm.healthy !== '') {
        this.data = this.data.filter(
          item => item.healthy.toString() === this.filterForm.healthy
        )
      }
    },
    filterByPost() {
      if (this.filterForm.post && this.filterForm.post !== '') {
        this.searchText = this.filterForm.post
        this.searchedColumn = 'post'
        this.data = this.data.filter(
          item => item.post.indexOf(this.filterForm.post) !== -1
        )
      }
    },
    filterByDuty() {
      if (this.filterForm.duty && this.filterForm.duty !== '') {
        this.searchText = this.filterForm.duty
        this.searchedColumn = 'duty'
        this.data = this.data.filter(
          item => item.duty.indexOf(this.filterForm.duty) !== -1
        )
      }
    },
    degreeSearchHandle(value) {
      if (value && value !== '') {
        this.degreeData = this.degreeDataCache.filter(
          item => item.indexOf(value) !== -1
        )
      } else {
        this.degreeData = this.degreeDataCache
      }
    },
    degreeSearchHandleFilter(value) {
      if (value && value !== '') {
        this.degreeDataFilter = this.degreeDataFilterCache.filter(
          item => item.indexOf(value) !== -1
        )
      } else {
        this.degreeData = this.degreeDataCache
      }
    },
  },
  computed: {
    columns() {
      return columns
    },
    rowSelection() {
      return {
        onChange: (selectedRowKeys, selectedRows) => {
          console.log(selectedRows)
          this.selectedRowKeys = selectedRowKeys
          this.selectedKeyNum = selectedRowKeys.length
        },
        onSelect: (record, selected, selectedRows) => {
          console.log(record, selected, selectedRows)
        },
        onSelectAll: (selected, selectedRows, changeRows) => {
          console.log(selected, selectedRows, changeRows)
        },
      }
    },
    drawerInfoHealthy() {
      if (this.drawerInfo.healthy == 0) {
        return '健康'
      } else if (this.drawerInfo.healthy == 1) {
        return '亚健康'
      } else {
        return '不健康'
      }
    },
  },
}
</script>
