<template>
  <div class="wrapper">
    <a-form
      v-if="num === 0"
      ref="loginForm"
      :model="form"
      :rules="rules"
      :label-col="labelCol"
      :wrapper-col="wrapperCol"
      class="form"
    >
      <div class="title">管理员登录</div>
      <a-form-item ref="logUsername" name="username" has-feedback>
        <a-input
          v-model:value="form.username"
          type="text"
          autocomplete="off"
          placeholder="用户名"
        />
      </a-form-item>
      <a-form-item ref="logPassword" name="password" has-feedback>
        <a-input
          v-model:value="form.password"
          type="password"
          autocomplete="off"
          placeholder="密码"
        />
      </a-form-item>
      <a-form-item>
        <a-button style="width: 298px" type="primary" @click="login"
          >登录</a-button
        >
      </a-form-item>
      <div class="toOther-wrapper">
        <span class="toOther text-left" @click="num = 1"
          >没有账号? 注册账号</span
        >
        <span class="toOther" @click="num = 2">忘记密码</span>
      </div>
    </a-form>
    <a-form
      v-else-if="num === 1"
      ref="registerForm"
      :model="registerForm"
      :rules="registerRules"
      :label-col="labelCol"
      :wrapper-col="wrapperCol"
      class="form"
      id="register-form"
    >
      <div class="title">注册</div>
      <a-form-item ref="registerName" name="name">
        <a-input
          v-model:value="registerForm.name"
          type="text"
          autocomplete="off"
          placeholder="姓名"
        />
      </a-form-item>
      <a-form-item ref="registerUsername" name="username">
        <a-input
          v-model:value="registerForm.username"
          type="text"
          autocomplete="off"
          placeholder="用户名"
        />
      </a-form-item>
      <a-form-item ref="registerUsername" name="email">
        <a-input
          v-model:value="registerForm.email"
          type="text"
          autocomplete="off"
          placeholder="邮箱"
          @blur="handleRegisterBlur"
        />
      </a-form-item>
      <a-form-item ref="registerPassword" name="password">
        <a-input
          v-model:value="registerForm.password"
          type="password"
          autocomplete="off"
          placeholder="密码"
        />
      </a-form-item>
      <a-form-item ref="registerRepeatPassword" name="repeatPassword">
        <a-input
          v-model:value="registerForm.repeatPassword"
          type="password"
          autocomplete="off"
          placeholder="再次输入密码"
          @blur="handleConfirmBlur"
        />
      </a-form-item>
      <a-form-item>
        <a-button style="width: 298px" type="primary" @click="register"
          >注册</a-button
        >
      </a-form-item>
      <span class="toOther" @click="num = 0">已有账号? 直接登录</span>
    </a-form>
    <a-form
      v-else-if="num === 2"
      ref="resetForm"
      :model="resetForm"
      :rules="resetRules"
      :label-col="labelCol"
      :wrapper-col="wrapperCol"
      class="form"
      id="reset-form"
    >
      <div class="title">重置密码</div>
      <a-form-item ref="resetEmail" name="email">
        <a-input
          v-model:value="resetForm.email"
          type="text"
          autocomplete="off"
          placeholder="邮箱"
          @blur="handleResetBlur"
        />
      </a-form-item>
      <a-form-item ref="resetCode" :wrapper-col="{ span: 16 }" name="code">
        <a-row :gutter="8">
          <a-col :span="23">
            <a-input
              v-model:value="resetForm.code"
              type="text"
              autocomplete="off"
              placeholder="验证码"
              @blur="this.$refs.resetForm.validate(['code'], { force: true })"
            />
          </a-col>
          <a-col :span="1">
            <a-button
              type="primary"
              :disabled="!canSendCode"
              @click="sendCode()"
            >
              <span v-if="canSendCode">发送验证码</span>
              <span v-else>
                <a-statistic-countdown
                  @finish="canSendCode = true"
                  valueStyle="font-size: 15px; color: #8c8c8c;width: 68px"
                  suffix="S"
                  :value="Date.now() + 30 * 1000"
                  format="s"
                />
              </span>
            </a-button>
          </a-col>
        </a-row>
      </a-form-item>
      <a-form-item ref="resetPassword" name="password">
        <a-input
          v-model:value="resetForm.password"
          type="password"
          autocomplete="off"
          placeholder="密码"
        />
      </a-form-item>
      <a-form-item ref="resetRepeatPassword" name="repeatPassword">
        <a-input
          v-model:value="resetForm.repeatPassword"
          type="password"
          autocomplete="off"
          placeholder="再次输入密码"
          @blur="handleConfirmBlurReset"
        />
      </a-form-item>
      <a-form-item>
        <a-button style="width: 298px" type="primary" @click="resetPass"
          >提交</a-button
        >
      </a-form-item>
      <span class="toOther" @click="num = 0">已有账号? 直接登录</span>
    </a-form>
    <div class="form" id="resetSuccess" v-else-if="num === 3">
      <a-result status="success" title="注册成功!">
        <template #extra>
          <a-button type="primary" @click="num = 0"> 登录系统 </a-button>
        </template>
      </a-result>
    </div>
  </div>
</template>

<script>
import {
  loginAIP,
  registerAPI,
  resetPassword,
  sendResetCode,
} from '@/services/login'
import { LOGIN, REGISTER, RESETPASS, SENDCOED } from '@/config/returnCode/login'

export default {
  name: 'Login',
  data() {
    return {
      canSendCode: true,
      confirmDirty: false,
      confirmDirtyR: false,
      num: 0,
      labelCol: { span: 0 },
      wrapperCol: { span: 0 },
      form: {
        username: '',
        password: '',
      },
      registerForm: {
        name: '',
        username: '',
        email: '',
        password: '',
        repeatPassword: '',
      },
      resetForm: {
        email: '',
        code: '',
        password: '',
        repeatPassword: '',
      },
      rules: {
        username: [
          {
            required: true,
            message: '请输入用户名',
            trigger: 'blur',
          },
        ],
        password: [
          {
            required: true,
            message: '请输入密码',
            trigger: 'blur',
          },
        ],
      },
      registerRules: {
        name: [
          {
            required: true,
            message: '请输入姓名',
            trigger: 'blur',
          },
        ],
        username: [
          {
            required: true,
            message: '请输入用户名',
            trigger: 'blur',
          },
        ],
        email: [
          {
            required: true,
            message: '请输入邮箱',
          },
          {
            validator: this.validateRegisterEmail,
          },
        ],
        password: [
          {
            required: true,
            message: '请输入密码',
            trigger: 'blur',
          },
          {
            validator: this.validateToNextPassword,
          },
        ],
        repeatPassword: [
          {
            required: true,
            message: '请重复输入密码',
          },
          {
            validator: this.compareToFirstPassword,
          },
        ],
      },
      resetRules: {
        email: [
          {
            required: true,
            message: '请输入邮箱',
          },
          {
            validator: this.validateResetEmail,
          },
        ],
        code: [
          {
            required: true,
            message: '请输入验证码',
            trigger: 'blur',
          },
        ],
        password: [
          {
            required: true,
            message: '请输入密码',
            trigger: 'blur',
          },
          {
            validator: this.validateToNextPasswordReset,
          },
        ],
        repeatPassword: [
          {
            required: true,
            message: '请重复输入密码',
          },
          {
            validator: this.compareToFirstPasswordReset,
          },
        ],
      },
    }
  },
  methods: {
    compareToFirstPassword() {
      const form = this.registerForm
      if (form.repeatPassword && form.password !== form.repeatPassword) {
        return Promise.reject('两次输入的密码不相同')
      } else {
        return Promise.resolve()
      }
    },
    validateToNextPassword() {
      const form = this.registerForm
      if (form.password && this.confirmDirty) {
        this.$refs.registerForm.validate(['repeatPassword'], { force: true })
      }
      return Promise.resolve()
    },
    handleConfirmBlur(e) {
      const value = e.target.value
      this.confirmDirty = this.confirmDirty || !!value
      this.$refs.registerForm.validate(['repeatPassword'], { force: true })
    },
    compareToFirstPasswordReset() {
      const form = this.resetForm
      if (form.repeatPassword && form.password !== form.repeatPassword) {
        return Promise.reject('两次输入的密码不相同')
      } else {
        return Promise.resolve()
      }
    },
    validateToNextPasswordReset() {
      const form = this.resetForm
      if (form.password && this.confirmDirtyR) {
        this.$refs.resetForm.validate(['repeatPassword'], { force: true })
      }
      return Promise.resolve()
    },
    validateResetEmail() {
      const form = this.resetForm
      if (
        !form.email.match(
          /^([a-zA-Z0-9])+(([a-zA-Z0-9])|([._-][a-zA-Z0-9])*)+@([a-zA-Z0-9-])+((\.[a-zA-Z0-9-]{2,3}){1,2})$/
        ) &&
        form.email !== ''
      ) {
        return Promise.reject('请输入正确的邮箱')
      } else {
        return Promise.resolve()
      }
    },
    validateRegisterEmail() {
      const form = this.registerForm
      if (
        !form.email.match(
          /^([a-zA-Z0-9])+(([a-zA-Z0-9])|([._-][a-zA-Z0-9])*)+@([a-zA-Z0-9-])+((\.[a-zA-Z0-9-]{2,3}){1,2})$/
        ) &&
        form.email !== ''
      ) {
        return Promise.reject('请输入正确的邮箱')
      } else {
        return Promise.resolve()
      }
    },
    handleResetBlur() {
      this.$refs.resetForm.validate(['email'], { force: true })
    },
    handleRegisterBlur() {
      this.$refs.registerForm.validate(['email'], { force: true })
    },
    handleConfirmBlurReset(e) {
      const value = e.target.value
      this.confirmDirtyR = this.confirmDirtyR || !!value
      this.$refs.resetForm.validate(['repeatPassword'], { force: true })
    },
    login() {
      let that = this
      this.$refs.loginForm.validate().then(function (data) {
        loginAIP(data.username, data.password)
          .then(function (data) {
            switch (data.code) {
              case LOGIN.success.code:
                that.$store.commit('setLogInfo', data.data)
                that.$message.success('登录成功')
                that.$router.push('/home')
                break
              default:
                that.$message.error(data.msg)
                break
            }
          })
          .catch(function () {
            that.$message.error('网络或出现未知错误')
          })
      })
    },
    register() {
      let that = this
      this.$refs.registerForm.validate().then(function (data) {
        registerAPI(data.username, data.password, data.name, data.email)
          .then(function (data) {
            switch (data.code) {
              case REGISTER.success.code:
                that.$store.commit('setLogInfo', data.data)
                that.$message.success('注册登录成功')
                that.$router.push('/home')
                break
              default:
                that.$message.error(data.msg)
                break
            }
          })
          .catch(function () {
            that.$message.error('网络或出现未知错误')
          })
      })
    },
    sendCode() {
      if (this.resetForm.email === '') {
        this.$refs.resetForm.validate(['email'], { force: true })
        this.$message.error('请输入邮箱')
      } else {
        let that = this
        this.canSendCode = false
        sendResetCode(this.resetForm.email)
          .then(function (data) {
            switch (data.code) {
              case SENDCOED.success.code:
                that.$message.success('发送成功')
                break
              default:
                that.$message.error(data.msg)
                break
            }
          })
          .catch(function () {
            that.$message.error('网络或出现未知错误')
          })
      }
    },
    resetPass() {
      let that = this
      this.$refs.resetForm.validate().then(function (data) {
        resetPassword(data.email, data.code, data.password)
          .then(function (data) {
            switch (data.code) {
              case RESETPASS.success.code:
                that.num = 3
                that.$message.success('注册成功')
                break
              default:
                that.$message.error(data.msg)
                break
            }
          })
          .catch(function () {
            that.$message.error('网络或出现未知错误')
          })
      })
    },
  },
}
</script>

<style scoped lang="scss">
.wrapper {
  min-width: 400px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f4f7;
  #register-form {
    height: 440px;
  }
  #reset-form {
    height: 380px;
  }
  #resetSuccess {
    height: 330px;
    border: none;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  }
  .form {
    background-color: white;
    border: none;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    width: 360px;
    height: 273px;
    padding: 30px;
    border-image: initial;
    border-radius: 10px;
    .toOther-wrapper {
      display: flex;
      flex-direction: row;
    }
    .toOther {
      width: 100%;
      display: inline-block;
      text-align: end;
      padding-right: 5px;
      position: relative;
      top: -15px;
      color: #3a8bff;
      font-size: 12px;
      cursor: pointer;
    }
    .text-left {
      text-align: left;
    }
    .title {
      font-size: 18px;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}
</style>
