#teachers {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#head {
  min-width: 1020px;
  margin-bottom: 4px;
  left: 60px;
  right: 0px;
  top: 0px;
  color: #182b50;
  height: 60px;
  font-size: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgb(128 145 165 / 20%);
  display: flex;
  .title {
    width: 295px;
    height: 100%;
    padding: 15px 0 0 19px;
    .title-left {
      background-color: #ffb400;
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      text-align: center;
      width: 24px;
      height: 24px;
      line-height: 24px;
      color: #fff;
      display: inline-block;
      margin-right: 4px;
      border-radius: 3px;
      vertical-align: top;
    }
    .title-right {
      display: inline-block;
      font-size: 16px;
      color: #182b50;
      line-height: 26px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .head-search {
    border-radius: 16px;
    padding: 3px 20px 3px 8px;
    margin: 14px 15px 0 0;
    width: 208px;
    height: 32px;
  }
  .add {
    width: 100px;
    height: 100%;
    font-size: 20px;
    padding-top: 20px;
    color: #182b50;
  }
}
.tools {
  background-color: #f3f4f6;
  padding: 8px 25px 8px 20px;
  display: flex;
  flex-direction: row;
  .tools-left-item {
    margin-right: 10px;
  }
  .tools-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .tools-right-item {
      margin-right: 4px;
      display: inline-block;
      height: 36px;
      line-height: 36px;
      color: #999;
    }
    .separator {
      border-right: 1px solid #e8eaee;
      width: 1px;
      height: 18px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
.filter {
  //vertical-align: text-bottom;
}
.content {
  padding: 0 25px 20px 20px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  .category_div {
    width: 350px;
    height: 100%;
    background-color: #fff;
    margin-right: 15px;
    border: none;
    box-shadow: 0 0 10px rgb(128 145 165 / 20%);
    border-radius: 2px;
    padding: 0 17px;
    display: flex;
    flex-direction: column;
    .category_title {
      padding-top: 20px;
      padding-bottom: 5px;
      font-size: 16px;
      color: #182b50;
      font-weight: 545;
      margin-bottom: 15px;
    }
    .filter-content {
      overflow: auto;
      flex: 1;
      .search-title {
        height: 20px;
        line-height: 20px;
        margin-bottom: 5px;
        text-align: left;
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #8c95a8;
      }
      .more {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        color: #3582fb;
        cursor: pointer;
        &:hover {
          color: #5d9bfc;
        }
      }
    }
    .filter-submit {
      width: 100%;
      height: 56px;
      padding: 14px;
      text-align: right;
      line-height: 20px;
      background-color: #fff;
      border-top: 1px solid #f0f0f0;
    }
  }
  .info {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgb(128 145 165 / 20%);
    background-color: #fff;
    border: none;
    height: 100%;
    flex: 1;
    overflow: hidden;
  }
}
.operation-wrapper {
  font-size: 18px;
  color: #1890ff;
  text-align: center;
  .operation-item {
    margin: 0 5px;
  }
}

.highlight {
  background-color: rgb(255, 192, 105);
  padding: 0px;
}

.healthy,.research-status{
  width: 60px;
  height: 30px;
  border-radius: 5px;
  display: inline-block;
  line-height: 30px;
  color: white;
  font-size: 12px;
}
.healthy-tag, .doing{
  background-color: #52c41a;
}
.less-healthy-tag,.done{
  background-color: #faad14;
}
.unhealthy-tag{
  background-color: #ff603b;
}
.before{
  background-color: #8c8c8c;
}
