<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<style lang="scss">
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Avenir-Medium, sans-serif;
  text-decoration: none;
}
body,
html {
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
}
#app {
  height: 100%;
  min-width: 500px;
}
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -2px 0 0 #fff inset, 1px 0 0 #fff inset,
    0 -1px 0 rgb(255 255 255 / 90%) inset, 0 1px 0 rgb(255 255 255 / 90%) inset;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
}
</style>
